<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twarog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
          <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='images/icon1.svg') }}" alt="Logo">
            </a>
        </div>
          <nav>
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Disease</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('basalcell') }}">Basal Cell Carcinoma</a>
                        <a href="{{ url_for('actinic') }}">Actinic Keratosis</a>
                        <a href="{{ url_for('melanocytic') }}">Melanocytic Nevi</a>
                        <a href="{{ url_for('benign') }}">Benign Keratosis</a>
                        <a href="{{ url_for('melanoma') }}">Melanoma</a>
                        <a href="{{ url_for('dermatofibroma') }}">Dermatofibroma</a>
                        <a href="{{ url_for('vascular') }}">Vascular Lesions</a>
                    </div>
                </li>
                <li><a href="{{ url_for('about') }}">About US</a></li>
                <li><a href="{{ url_for('contact') }}">Contact US</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <section class="blog">
        <div class="blog-container">
            <h1>Basal Cell Carcinoma</h1> 
            <p>Basal Cell Carcinoma (BCC) is the most common form of skin cancer, accounting for about 80% of all skin cancer cases. It originates in the basal cells, which are located in the deepest layer of the epidermis, the outermost layer of the skin. BCC is usually caused by prolonged exposure to ultraviolet (UV) radiation from the sun or tanning beds. While it is rarely fatal, early detection and treatment are crucial to prevent significant tissue damage and complications.</p>
            <p>Basal Cell Carcinoma develops in the basal cells, which produce new skin cells as old ones die off. BCC often appears as a slightly transparent bump on the skin, though it can take other forms. It typically occurs in areas of the body most exposed to the sun, such as the face, neck, and arms.</p>
            <p>Diagnosis typically involves a physical examination by a dermatologist, followed by a biopsy. During the biopsy, a small sample of the suspicious skin lesion is removed and examined under a microscope to confirm the presence of cancer cells.</p>
        </div>
    </section>

    <div class="image-container">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Basal Cell 1.jpg') }}" alt="Image 1">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Basal Cell 2.jpg') }}" alt="Image 2">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Basal Cell 3.jpg') }}" alt="Image 3">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Basal Cell 4.jpg') }}" alt="Image 4">
        </div>
    </div>

    <section class="links">
        <div class="links-container">
            <h5>Important Reference Links</h5>
            <ul>
                <li><a href="https://www.ncbi.nlm.nih.gov/books/NBK482439/" target="_blank" rel="noopener noreferrer">Basal Cell Carcinoma - National Institute of Health(NIH)</a></li>
                <li><a href="https://www.mayoclinic.org/diseases-conditions/basal-cell-carcinoma/symptoms-causes/syc-20354187" target="_blank" rel="noopener noreferrer">Basal Cell Carcinoma - Mayolinic.org</a></li>
                <li><a href="https://my.clevelandclinic.org/health/diseases/4581-basal-cell-carcinoma" target="_blank" rel="noopener noreferrer">Basal Cell Carcinoma: Causes, Symptoms & Treatment - Cleveland Clinic</a></li>
            </ul>
        </div>
    </section>
    

    <footer>
        <div class="container">
            <p>&copy; 2024 Twarog Healthcare. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
