<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twarog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
          <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='images/icon1.svg') }}" alt="Logo">
            </a>
        </div>
          <nav>
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Disease</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('basalcell') }}">Basal Cell Carcinoma</a>
                        <a href="{{ url_for('actinic') }}">Actinic Keratosis</a>
                        <a href="{{ url_for('melanocytic') }}">Melanocytic Nevi</a>
                        <a href="{{ url_for('benign') }}">Benign Keratosis</a>
                        <a href="{{ url_for('melanoma') }}">Melanoma</a>
                        <a href="{{ url_for('dermatofibroma') }}">Dermatofibroma</a>
                        <a href="{{ url_for('vascular') }}">Vascular Lesions</a>
                    </div>
                </li>
                <li><a href="{{ url_for('about') }}">About US</a></li>
                <li><a href="{{ url_for('contact') }}">Contact US</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <section class="blog">
        <div class="blog-container">
            <h1>Vascular Lesions</h1> 
            <p>Vascular lesions are abnormalities of the blood vessels, which can manifest on the skin or internal organs. They encompass a range of conditions, from benign birthmarks to potentially serious malformations. Understanding the different types, causes, and available treatments for vascular lesions is crucial for proper diagnosis and management.</p>
            <p>Vascular lesions are composed of blood vessels that have formed incorrectly or abnormally. These lesions can appear at birth or develop later in life and vary greatly in appearance, size, and severity. While most vascular lesions are harmless and pose primarily cosmetic concerns, some may require medical intervention due to associated complications or underlying conditions.</p>
            <p>Diagnosis of vascular lesions typically involves a physical examination by a dermatologist or specialist. Imaging studies such as ultrasound, MRI, or CT scans may be used to assess the extent and nature of deeper or more complex lesions. In some cases, a biopsy may be performed to confirm the diagnosis and rule out other conditions.</p>
        </div>
    </section>

    <div class="image-container">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Melanoma.jpg') }}" alt="Image 1">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Melanoma.jpg') }}" alt="Image 2">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Melanoma.jpg') }}" alt="Image 3">
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/Melanoma.jpg') }}" alt="Image 4">
        </div>
    </div>

    <section class="links">
        <div class="links-container">
            <h5>Important Reference Links</h5>
            <ul>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Link 1</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer"> Link 2</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Link 3</a></li>
            </ul>
        </div>
    </section>
    

    <footer>
        <div class="container">
            <p>&copy; 2024 Twarog Healthcare. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
